{
  "prettier/prettier": [
    "error",
    {},
    {
      "usePrettierrc": false
    }
  ]
}{
  "prettier/prettier": [
    "error",
    {},
    {
      "usePrettierrc": false
    }
  ]
}{
  "prettier/prettier": [
    "error",
    {},
    {
      "usePrettierrc": false
    }
  ]
}